@charset "UTF-8";

body {
    font-family: Arial;
    margin: 0;
    background: #f4f6f9;
}

header {
    background: #2c3e50;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: 6px 10px;
    margin: 3px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

table {
    width: 95%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background: #34495e;
    color: white;
}

.approve {
    background: green;
    color: white;
}

.reject {
    background: red;
    color: white;
}

.top-btn {
    margin: 20px;
    text-align: center;
}
